.feature__subtitle {
    color: #df2020;
}   
.feature__text {
    font-size: 0.8rem;
}   

.feature__title span {
    color: #df2020;
}

.feature__text {
    color: #777;
}

.feature__item p {
    color: #777;
    margin-bottom: 0;
}

.food__category {
    background: #df2020;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 8px;
}

.food__category button {
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
}

.food__category button img {
    width: 20px;
    height: 20px;
}

.foodBtnActice {
    background: #fff !important;
    border-radius: 5px;
    color: #df2020 !important;
}

.tasty_treat-title span{
    color: #df2020;
}

.tasty__treat-desc {
    color: #777;
    line-height: 28px;
}

.choose__us-item {
    font-weight: 600;
} 

.choose__us-item i{
    font-weight: 500 !important;
    color: #df2020;
} 

.choose__us-desc {
    color: #777;
}

.testinomail__subtitle {
    color: #df2020;
}

.testinomail__title {
    color: #df2020;
}
.testinomail__title span{
    color: #777;
}
.testinomial__desc{
    color: #777;
    line-height: 30px;
}

@media only screen and (max-width:576px){
    .hero__container {
        text-align: center;
    }

    .hero__content h5 {
        font-size: 1rem;
    }

    .hero__content p {
        font-size: 0.8rem;
        line-height: 25px;
    }

    .hero__title {
        font-size: 1.5rem;
        line-height: 40px;
    }

    
}

@media only screen and (max-width:768){ 
    .feature__item h5{
        font-size: 0.9rem;
    }
    .feature__item p{
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .feature__subtitle {
        font-size: 1rem;
    }
    .feature__text {
        font-size: 0.8rem;
        margin-bottom: 0px;
    }
    .food__category {
        
    }
    .food__category button {
        padding: 5px 15px;
        font-size: .7rem;
    }
}